[Desktop Entry]
Type=Application
Name=Korunix
Comment=Administra NixOS mediante decisiones humanas
Exec=korunix-interfaz
Icon=preferences-system-symbolic
Terminal=false
Categories=Settings;
Keywords=NixOS;Settings;System;Updates;Recovery;
StartupNotify=true
